<div class="container">  <div class="container">
  <h1>Twittter</h1>
  <form method="post" action="/post">
    <input type="text" name="name" placeholder="名前" autocomplete="off" />
    <input type="text" name="content" placeholder="メッセージ" autocomplete="off" size="80" />
    <input type="submit" value="送信" />
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>メッセージ</th>
        <th>投稿日時</th>
      </tr>
    </thead>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.name %></td>
        <td><%= message.content %></td>
        <td><%= message.created_at %></td>
      </tr>
    <% end %>
  </table>
</div>
